@font-face {
    font-family: "Roboto";
    src: url("./media/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
}

@font-face {
    font-family: "Playfair Display";
    src: url("./media/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
}


body {
    background-color: antiquewhite;
    font-size: 1.2rem;
    margin: 0;
}

h1, h2, div.name {
    font-family: "Playfair Display";
    margin: 0;
}

section {
    color: rgb(80, 80, 80);
}

header section {
    text-wrap: balance;
}

div.name {
    font-size: 3.3rem;
    font-weight: bold;
    color: white;
    text-shadow: 1px 1px 5px black;
}

div.icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

div.icons img {
    width: 30px;
}

main, footer {
    margin-top: 80px;
}

.project-section {
    margin: 20px 10px 20px 10px;
    min-width: 250px;
    display: grid;
    justify-content: center;
    gap: 40px;
}

.project {
    display: grid;
    justify-content: space-between;
    grid-template: 
        "a a"
        "b c"
        "d d";
    box-shadow: 0px 5px 10px 1px gray;
    width: auto;
    margin: 0
}

.project h2, 
.project section, 
.project img {
    padding: 20px;
}

.image {
    grid-area: a;
    background-color: firebrick;
    min-height: 150px;
}

.project h2 {
    grid-area: b;
}

.project img {
    grid-area: c;
    width: 30px;
}

footer h1 {
    padding-top: 30px;
}

footer{
    background-color: olive;
}

footer > * {
    padding: 10px 20px;
}

.contact {
    display: flex;
    gap: 10px;
    align-items: center;
}

.contact img {
    width: 25px;
}


@media (max-width: 600px) {

    header {
        margin: 30px 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header .content {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    div.name {
        position: absolute;
        top: 50%;
    }

    header section {
        text-align: center;
    }

    main h1, footer h1 {
        text-align: center;
    }

    .project-section {
        grid-template-columns: 1fr;
    }

    footer picture{
        padding: 0;
    }

    footer picture img {
        margin-top: 20px;   
        width: 100%;
    }
}

@media (min-width: 601px) and (max-width: 999px) {
    header, main {
        margin: 30px 50px;
    }

    header picture img {
        position:relative;
        width: 400px;
        float: left;
        margin: 0;
        transform: translate(-10px, -10px);
        z-index: 2;
    }

    div.name {
        position: absolute;
        top: 5%;
        z-index: 3;
    }

    header .content {
        margin-top: 50px;
        padding: 50px 30px;
        background-color: white;
        transform: translate(10px, 10px);
        box-shadow: 1px 1px 10px 1px gray;
    }

    .content section {
        margin: 30px 0px;
    }

    main h1 {
        margin-top: 80px;
        margin-left: 10px;
    }

    .project-section {
        grid-template-columns: 1fr 1fr;
    }

    footer > *{
        padding: 10px 50px;
    }

    footer .icons {
        justify-content: flex-start;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(6, 1fr)
    }

    footer h1,
    footer div{
        grid-column: 1/2;
    }

    footer picture {
        padding: 0;
        grid-row: 1/7;
        grid-column: 2/3;
        align-self: center;
    }

    picture img {
        max-width: 300px;
    }

}

@media (min-width: 1000px) {
    
    header, main {
        margin: 30px 50px;
    }

    header picture img {
        position: relative;
        width: 400px;
        float: left;
        margin: 0;
        z-index: 2;
    }

    div.name {
        position: absolute;
        top: 5%;
        margin-left: 50px;
        z-index: 3;
    }

    header .content {
        margin-top: 50px;
        margin-right: 20px;
        padding: 50px 30px;
        background-color: white;
        transform: translate(20px, 50px);
        box-shadow: 1px 1px 10px 1px gray;
    }

    .content section {
        margin: 30px 0px;
    }

    main h1{
        margin-top: 150px;
        margin-left: 10px;
    }

    .project-section {
        grid-template-columns: 1fr 1fr 1fr;
    }

    footer > *{
        padding: 10px 50px;
    }

    footer .icons {
        justify-content: flex-start;
    }

    footer {
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: repeat(6, 1fr);
        
    }

    footer h1,
    footer div{
        grid-column: 1/2;
        justify-self: center;
    }

    footer picture {
        grid-row: 1/7;
        grid-column: 2/3;
        align-self: center;
        justify-self: start;
        max-width: 600px;
    }

    footer picture img {
        max-width: 600px;
    }
}